.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


body{
    background-color: #F2EBE3;
    display: flex;
    justify-content: center;
    align-items: center;

}

main{
    display: flex;
    margin-top: 4%;
    flex-direction: row;
    padding-right: 100px;
    justify-content: center;
    border-radius: 2%;
    background-color: #fff;
    text-align: center;
}
figure{
    width: fit-content;
}

figure img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

section{
    display: flex;
    margin: 2%;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    white-space: pre-line;
}

article{
    display: block;
    width: 240px;
}

h1{
    margin-bottom: 25%;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Fraunces' ;
    color: #1C232B;
}

h2{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 6px;
    margin-bottom: 15%;
    margin-top: 12%;
    font-family: 'Montserrat';
    color: #6C7289;
}

p{
    width: 300px;
    line-height: 200%;
    margin-bottom: 25%;
    font-weight: 500;
    font-family: 'Montserrat';
    font-size: 18px;
    color: #6C7289;
}

.div-price{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15%;
}

.number-primary{
    font-family: 'Fraunces';
    font-size: 45px;
    color: #3C8067;
    margin-right: 40px;
}

.number-secundary{
    font-weight: 500;
    font-family: 'Montserrat';
    color: #6C7289;
    text-decoration: line-through;
}

button{
    width: 130%;
    height: 10%;
    border-radius: 5%;
    margin-top: 20px    ;
    background-color: #3C8067;
    text-align: center;
    font-size: 20px;
    color: #fff;
    border-radius: 10%;
}

button img{
    margin-right: 10px;
    width: 6%;
}